
@{
    ViewData["Title"] = "Retrive";
}

    <h1>Retrive Messages from Service Bus</h1>

<p>@ViewBag.msg</p>

<button>@Html.ActionLink("Retrieve Message from the Service Bus.", "ProcessMsg", new { })</button>