
@{
    ViewData["Title"] = "CreateBlobContainer";
}

<h2>Create Blob Container results</h2>
    Hello @ViewBag.BlobContainerName @(ViewBag.Success == true? "successfully created" : "failed to create")